<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-isDevoured="{{isDevoured}}">
		{{#if isDevoured}}DEVOURED!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
