<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-isdevoured="{{isdevoured}}">
		{{#if isdevoured}}DEVOURED!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
